<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/line.css">
    <title>选择路线</title>
</head>
<body>
    <div class="header">
        <h1>选择路线</h1>
    </div>
    <div class="container">
        <div class="search">
            <input class="key" id="key" type="text" placeholder="输入站点筛选路线">
            <input class="btn" id="btn" type="button" value="搜 索">
        </div>
        <div class="content">
            <ul>
                <a href="">
                    <li>1号线</li>
                </a>
                <a href="">
                    <li>2号线</li>
                </a>
                <a href="">
                    <li>3号线</li>
                </a>
                <a href="">
                    <li>10号线</li>
                </a>
                <a href="">
                    <li>s1机场线</li>
                </a>
                
            </ul> 
        </div>
    </div>
    <div class="footer">
        
    </div>
</body>
</html>