<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>首页</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <a href="">
                <input id="reg" type="button" value="新用户注册">
            </a>
            <a href="">
                <input id="login" type="button" value="登录购票">
            </a>
        </div>
    </div>
<script src="../public/lib/jquery/jquery.min.js"></script>
<script>
$(function(){

});
</script>
</body>
</html>